.theme-light #snippetor-checkboxes-modal ul li:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.theme-dark #snippetor-checkboxes-modal ul li:hover {
  background-color: rgba(255, 255, 255, 0.02);
}
#snippetor-checkboxes-modal {
  h3.snippetor-reset {
    display: flex;
    .setting-item-control {
      display: inline-flex;
      align-items: flex-end;
    }
  }

  button.generate-css.is-active:after {
    content: '⚙️';
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
  }

  .snippetor-checkboxes {
    background-color: var(--background-primary);
    color: var(--text-normal);
  }

  ul > li {
    display: flex;
    align-items: stretch;
    line-height: 2em;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 5px;
    position: relative;

    button {
      margin-top: 2px;
    }

    .snippetor-heading {
      font-weight: bold;
    }

    .snippetor-preview {
      padding: 5px 0;
      align-self: flex-start;
      display: flex;
      align-items: center;
      pointer-events: none;
      border-right: 1px solid var(--interactive-accent);
      border-radius: 4px;

      .example {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;
        max-width: 100px;
      }
    }

    .snippetor-settings {
      padding: 5px;
      flex-grow: 2;
      display: flex;
      flex-flow: column wrap;
      align-items: stretch;
      justify-content: flex-start;

      input,
      .color-sync {
        margin-right: 6px;
      }

      input.snippetor-data-task {
        font-family: var(--font-monospace);
        padding: 0 8px;
        text-align: center;
      }

      .snippetor-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: var(--background-primary);
        color: var(--text-normal);
        border-radius: 2px;
      }

      .snippetor-group {
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
        padding-right: 6px;
      }

      .snippetor-row.background {
        padding-left: 40px;
      }
    }

    .snippetor-li-actions {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: stretch;
      background-color: var(--background-primary);

      .snippetor-extra-show svg {
        transform: rotate(180deg);
      }
    }

    .read-mode-heading {
      padding: 0 6px;
    }

    .setting-editor-extra-setting-button.no-padding {
      color: unset;
      margin: 0 2px;
    }

    .setting-editor-extra-setting-button:not(.no-padding) {
      margin-top: 10px;
    }

    .theme-toggle {
      margin-right: 12px;
    }
    .theme-toggle:not(.is-enabled)::after {
      line-height: 15px;
      content: "🌗";
      font-size: 15px;
      background-color: transparent;
    }
    .theme-toggle.is-enabled::after {
      line-height: 15px;
      content: "🌗";
      font-size: 15px;
      background-color: transparent;
    }
  }

  ul > li.header {
    align-items: center;

    .snippetor-li-actions {
      padding-right: 8px;
    }
  }

  .markdown-preview-view {
    ul > li.task-list-item {
      font-weight: normal;
      color: var(--text-normal);
      padding-left: 3px;
      text-indent: unset; /** override base theme for preview */
    }
    input.task-list-item-checkbox {
      -webkit-appearance: none;
      box-sizing: border-box;
      cursor: pointer;
      filter: none;
      border: 1px solid var(--text-normal);
      border-radius: 2px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    input.task-list-item-checkbox:checked::before {
      font-family: var(--font-monospace);
      position: absolute;
      text-align: center;
      font-weight: 500;
      line-height: var(--snippetor-font-size);
      font-size: var(--snippetor-font-size);
      left: 1px;
      right: 1px;
      color: attr(color);
      content: attr(data);
    }
    ul > li.task-list-item:not(.live-preview) {
      input[type="checkbox"].task-list-item-checkbox {
        position: absolute;
        top: 10px;
        left: -21px;
      }
    }
    input.task-list-item-checkbox:checked:hover,
    p > input.task-list-item-checkbox:checked:hover {
      color: var(--text-on-accent) !important;
      background-color: var(--interactive-accent-hover);
      border-color: var(--text-on-accent) !important;
    }
  }

  // override default theme (strikethrough done on an element for testing)
  ul > li.task-list-item.is-checked {
    text-decoration: none;
  }
}
