#snippetor-modal.snippetor-folders-modal {

  .folders-content-container {
    margin-bottom: 5px;

    .nav-files-container,
    .mod-root,
    .nav-folder-children {
      display: contents;
    }
  }

  .workspace-leaf-content {
    display: unset;
    flex-direction: unset;
  }

  .snippetor-preview,
  .nav-folder {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .folders-header,
  .snippetor-folder-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 5px;
    position: relative;
    gap: 2px;
  }

  .folders-header {
    .header {
      flex-grow: 2;
    }
    .snippetor-li-actions {
      align-items: center;
    }
  }

  :not(.folders-header).snippetor-li-actions {
    padding-top: 5px;
  }
  .snippetor-settings {
    flex-grow: 2;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: flex-start;
  }
  input[type='text'].snippetor-font-setting {
    width: 164px;
  }
  .snippetor-group {
    margin-bottom: 0;
  }

  .snippetor-folder-container {
    .nav-folder {
      background-color: var(--snippetor-bg-color);
      border-radius: var(--snippetor-border-radius);
      margin: 0;
      border: 0;

      &.hover:hover {
        background-color: var(--background-primary);
        transition-duration: 0.25s;
        transition-timing-function: ease;
        transition-property: background-color, color;
        .nav-folder-title:hover {
          background-color: transparent;
          color: inherit;
        }
        .nav-folder-title {
          .nav-folder-title-content.nav-folder-title-content {
            color: inherit;
            &::before {
              background-color: transparent;
            }
          }
        }
        .nav-folder-collapse-indicator.collapse-icon > svg.right-triangle {
          color: var(--text-normal);
        }
        .nav-folder-title-content::before {
          background-color: var(--text-normal);
        }
      }

      &.folder-icon {
        .nav-folder-title {
          .nav-folder-title-content {
            display: flex;
            align-items: center;
            &::before {
              background-image: unset !important;
              width: 17px;
              height: 17px;
              background-size: 24px 24px !important;
              background-color: var(--snippetor-fg-color);
              content: "";
              -webkit-mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M19 20H4c-1.11 0-2-.9-2-2V6c0-1.11.89-2 2-2h6l2 2h7a2 2 0 0 1 2 2H4v10l2.14-8h17.07l-2.28 8.5c-.23.87-1.01 1.5-1.93 1.5z'/%3E%3C/svg%3E") no-repeat;
              mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  %3E%3Cpath d='M19 20H4c-1.11 0-2-.9-2-2V6c0-1.11.89-2 2-2h6l2 2h7a2 2 0 0 1 2 2H4v10l2.14-8h17.07l-2.28 8.5c-.23.87-1.01 1.5-1.93 1.5z'/%3E%3C/svg%3E") no-repeat;
              margin-right: 4px !important;
            }
          }
        }
        &.is-collapsed {
          .nav-folder-title {
            .nav-folder-title-content::before {
              background-image: unset !important;
              background-size: 24px 24px !important;
              background-color: var(--snippetor-fg-color);
              content: "";
              -webkit-mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M10 4H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8c0-1.11-.9-2-2-2h-8l-2-2z'/%3E%3C/svg%3E") no-repeat;
              mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M10 4H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8c0-1.11-.9-2-2-2h-8l-2-2z'/%3E%3C/svg%3E") no-repeat;
              margin-right: 4px !important;
            }
          }
        }
      }
      &:not(.folder-icon) {
        .nav-folder-title > .nav-folder-title-content[data]::before {
          content: attr(data);
        }
      }

      .nav-folder-title {
        .nav-folder-title-content {
          color: var(--snippetor-fg-color);
          font-family: var(--snippetor-font);
          line-height: var(--snippetor-font-size);
          font-size: var(--snippetor-font-size);
        }
        &.no-collapse {
          .nav-folder-collapse-indicator.collapse-icon {
            display: none;
          }
        }
        .nav-folder-collapse-indicator.collapse-icon > svg.right-triangle {
          color: var(--snippetor-fg-color);
        }
      }
    }
  }
}
