.snippetor-plugin-settings .coffee {
  width: 60%;
  color: var(--text-normal);
  margin: 1rem auto;
  text-align: center;
}
.snippetor-plugin-settings .coffee img {
  height: 30px;
}
#snippetor-checkboxes-modal ul li {
  display: flex;
  align-items: flex-start;
  line-height: 2em;
  justify-content: space-between;
  margin-bottom: 3px;
}
.theme-light #snippetor-checkboxes-modal ul li:hover {
  background-color: rgba(0, 0, 0, .02);
}
.theme-dark #snippetor-checkboxes-modal ul li:hover {
  background-color: rgba(255, 255, 255, .02);
}
#snippetor-checkboxes-modal ul li .snippetor-preview {
  display: flex;
  align-items: center;
  pointer-events: none;
  border-right: 1px solid var(--interactive-accent);
  border-radius: 4px;
  margin-right: 6px;
  margin-top: 2px;
}
.snippetor-heading {
  font-weight: bold;
}
#snippetor-checkboxes-modal ul li .snippetor-preview .example {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  max-width: 100px;
}
#snippetor-checkboxes-modal ul li .snippetor-settings {
  display: flex;
  align-items: center;
  flex-grow: 2;
}
#snippetor-checkboxes-modal ul li .theme-toggle {
  margin-right: 12px;
}
#snippetor-checkboxes-modal ul li .theme-toggle:not(.is-enabled)::after {
  line-height: 15px;
  content: '🌗';
  font-size: 15px;
  background-color: transparent;
}
#snippetor-checkboxes-modal ul li .theme-toggle.is-enabled::after {
  line-height: 15px;
  content: '🌗';
  font-size: 15px;
  background-color: transparent;
}
#snippetor-checkboxes-modal ul li button {
  margin-top: 2px;
}
#snippetor-checkboxes-modal ul li .snippetor-settings input.snippetor-data-task {
  font-family: var(--font-monospace);
  padding: 0 8px;
  text-align: center;
  text-decoration: dashed;
}

#snippetor-checkboxes-modal .markdown-preview-view input.task-list-item-checkbox {
  -webkit-appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  filter: none;
  border: 1px solid var(--text-normal);
  border-radius: 2px;
  top: 0;
}
#snippetor-checkboxes-modal .markdown-preview-view input.task-list-item-checkbox:checked::before {
  font-family: var(--font-monospace);
  position: absolute;
  text-align: center;
  font-weight: 500;
  line-height: 14px;
  font-size: 14px;
  left: 1px;
  right: 1px;
  color: attr(color);
  content: attr(data);
}

#snippetor-checkboxes-modal .markdown-preview-view ul > li.task-list-item {
  font-weight: normal;
  color: var(--text-normal);
}
